@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

div {
    margin-bottom: 30px;
}

.exemplo {
    width: 400px;
    height: 400px;
    background-image: url("montanhas.jpg"); /* Use caminho relativo se possível */
    background-size: 120px;
    border: 5px solid red; /* Corrigido */
}

#repeat-x {
    background-repeat: repeat-x;
}

#repeat-y {
    background-repeat: repeat-y;
}

#space {
    background-repeat: space;
}

#round {
    background-repeat: round;
}

#no-repeat {
    background-repeat: no-repeat;
}

/* link: galeria de padrões CSS3*/
/* https://projects.verou.me/css3patterns/*/