@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin: 30px 0 15px 0;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
    color: #666;
}

.exemplo {
    width: 200px;
    height: 200px;
    border: 30px solid transparent;
    background-color: #333;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/* Exemplo adicional: padr達o repetido */
#exemplo {
    border-image-source: url('exercicios/Frame\ 1.png');
    border-image-repeat: repeat;
  
}

/* Exemplo 1: usando uma imagem de padr達o decorativo */
#exemplo-svg {
    border-image-source: url('exercicios/Frame\ 1.png');
    border-image-slice: 30;
    border-image-width: 20px;
    border-image-repeat: round;
}



/* Exemplo adicional: padr達o repetido */
#exemplo-1 {
    border-image-source: url('exercicios/Frame\ 1.png');
    border-image-repeat: repeat;
    border-image-slice: 169;
    
}

/* Exemplo adicional: padr達o repetido */
#exemplo-2 {
    border-image-source: url('exercicios/Frame\ 1.png');
    border-image-repeat: repeat;
    border-image-slice: 169 fill;
    
}


/* Exemplo 2: usando gradiente */
#exemplo-3 {
    border-image-source: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4);
    border-image-slice: 10;
    border-image-width: 20px;
    border-image-repeat: stretch;
}

