@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark' ] {
    --primary-color: #f0f0f0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292e;
    --Border-color: #28292e;
    --secondary-border-color: #56575a;

    --title-color: #9a9a9c;
    --text-color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #c7c8c9; 
}

:root[data-theme='light'] {
    --primary-color: #0b0b0f;         /* Preto para elementos principais */
    --primary-bg-color: #e9e9e9;      /* Fundo claro */
    --secondary-bg-color: #c7c8c9;    /* Fundo secundário */
    --border-color: #c7c8c9;
    --secondary-border-color: #56575a;

    --title-color: #0b0b0f;           /* 👈 Agora títulos ficam pretos no light */
    --text-color: #28292e;            /* Texto normal em cinza escuro */
    --link-color: #28292e;            /* Links também escuros */
    --icon-color: #28292e;            /* Ícones em cinza */
}


/* Ícone padrão no dark */
#toggleGitHub {
    color: #f0f0f0; /* branco no dark */
}



/* Ícone no light */
html[data-theme='light'] #toggleGitHub {
    color: #0b0b0f; /* preto no light */
    filter: none;   /* remove inversão */
}








* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none

}

body {
    background: var(--primary-bg-color);
    color: var(--text-color);   /* ← cor aplicada ao texto padrão */
    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);   /* títulos com cor de destaque */
    font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

p {
    color: var(--text-color);      /* parágrafos com cor de texto */
    font-size: 1.25rem;
    text-align: justify; 
}


a {
    text-decoration: none; 
}

i {
    color: var(--icon-color);
}

b {
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200; 
    
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--Border-color); /* só aqui */
    
    
}





.header__toggle {
    display: flex;
    justify-content: flex-end;
    
}

#toggleGitHub {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

#toggleHome {
    font-size: 1.5rem;
}

#toggleProjetos {
    font-size: 1.5rem;
}

#toggleSobre {
    font-size: 1.5rem;
}

#toggleContato {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
    background-color: var(--primary-bg-color);
    
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--Border-color);
    color:var(--primary-color);
    font-weight: 600;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: .5rem;
}

.menu__link.active .menu__icon,  
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,  
.menu__link:hover .menu__text {
    color:var(--primary-color);
    font-weight: 600;
}

.menu__icon,  .menu__text {
    color: #6c6c6c;
    transition: color 0.3s ease;
}

.menu__icon {
    font-size: 1.5rem;
    
}


.menu--principal {
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.menu--social {
    gap: 1rem;
    
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1.5rem;
    transition: ease-in-out .3s;

}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary span {
    color:  var(--primary-color);
}

.btn--primary {
    border: 1px solid var(--primary-color); 
}



.header__nav {
    display: none;
    
}

.top .menu__text {
    color: var(--text-color);       /* cor padrão */
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: pointer;
}

.top .menu__text:hover {
    color: var(--primary-color);    /* cor no hover */
    font-weight: 600;
}

.top {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border-bottom: 1px solid var(--Border-color); */ /* ← removida */
    flex: 1;
    height: 100%;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main__content2 iframe {
    aspect-ratio: 16/9; 
}

.habilidades {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    padding: 6.50rem 1rem 2rem 1rem;
    background: var(--secondary-bg-color);
    margin-top: -5.5rem;
    gap:1.25rem ;

}

.habilidades h2 {
    font-size: 2rem;
    text-transform: none;
    margin-top: -2rem;
}

.habilidades__list {
    display:flex ;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: .5rem;
}

.habilidades__item i {
    font-size: 2.5rem; 
    color: var(--icon-color);   /* 👈 usa a variável, funciona no dark e no light */
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1/1;
    border: 1px solid var(--secondary-border-color);
    border-radius: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    transition: color 0.3s ease;
}

/* Efeito hover */
.habilidade__logo:hover i {
    color: var(--primary-color); /* ícone muda para cor de destaque no hover */
    transform: scale(1.1);
    transition: all 0.3s ease;
}


.habilidade__logo {
    height: 2.4rem;
    cursor: pointer;
    
}

.habilidade__logo:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

footer {
    margin-bottom:  5rem;
}

footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;

}

/* Esconde o topo no mobile */
.top {
    display: none;
}


/*mobile*/
@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--Border-color); /* linha só no desktop */
        padding: 1rem 6rem; 
        background: var(--primary-bg-color);

    .top {
        display: flex;
    }
        
    }
    .nav--mobile {
        display: none;
        
    }

    .header__nav {
        display: flex;
        
    }

    .header__nav,
    .header__toggle {
    min-width: 30%; 
    
    }

    h1 {
        font-size: 4rem;
    }

    main {
        padding: 8rem 6rem 4rem 6rem;
        margin-top: -6rem;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5rem;
        
    }
    

}
/*button, ver projeto*/
@media (min-width: 1200px) {
    main {
        padding: 2rem 2rem 2rem;
    }


    .main__content1  .btn {
        width: auto;
        padding: 1rem 3rem 1rem;
        cursor: pointer;
    }

    .habilidades {
        flex-direction: row;
        justify-content: space-between;
        padding: 10rem 6rem 4rem;
    }

    .habilidades h2 {
        font-size: 3.5rem;
        width: 60%;
    }

    .habilidades__list {
        gap: 1rem;
    }

    .habilidades__item i {
    width: 6rem;
    height: 6rem;
    
}

.habilidade__logo {
    height: 2.5rem;
    cursor: pointer;
    
}

}

/*desktop*/
@media (min-width: 1400px) {
        h1 {
            font-size: 6.25rem;
}
p {
    font-size: 1.5rem;
}

    .header {
        padding: 1rem 15rem;
        
    }

    main {
        padding: 12rem 15rem 2rem;
    }

    .habilidades {
        padding: 10rem 15rem 4rem;
    }

}

