.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #49d0b0;
    border-radius: 1rem;
    color: #fff;
    width: 100%; /* Mudado para 100% */
    max-width: 180px; /* Adiciona limite máximo */
}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;  
    font-size: 0.625rem;
    margin-bottom: 0.25rem;
} 

.pokemon .name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: 0.25rem 0.5rem; 
    margin: 0.25rem 0; /* Corrigido de 2rem */
    font-size: 0.625rem;
    border-radius: 0.625rem;
    text-align: center;
}

.pokemon .detail img {   
    max-width: 70px;   
    height: auto;
    align-self: flex-end;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem; /* Adiciona espaçamento uniforme */
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
}




