* {
        
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;    

}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.content {
    padding: 1rem;

}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;

}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .50rem;
    padding: 1rem;
    background-color: #49d0b0;
    border-radius: 1rem;
    color: #fff;
}

.pokemons .number{
    color: #000;
    opacity: 0.3;
    text-align: right;  
    font-size: 2rem;
} 

.pokemons .name {
    font-size: 2rem;
    margin-bottom: 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemons .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: .5rem .5rem; 
    margin: .5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.pokemon .detail .img{   
    width: 70px;   
    height: 50px;
    
}
.pokemons li:hover {
    background-color: #3d9fd1;
    cursor: pointer;
}      


