.container {
    background: palegreen;
    padding: 20px;
    margin: 20px;
    display: flex;
}

.item {
    background: orange;
    margin: 10px;
}
#container-01 {
    flex-direction: row;
    
}

#container-02 {
    flex-direction: column;
}