/* Estilização geral dos containers:
   Define fundo, margem, dimensões, preenchimento, display flexível,
   espaçamento entre linhas e colunas */
.container {
    background: palegreen;
    margin: 20px;
    width: 300px;
    height: 250px;
    padding: 10px;

    display: flex;         /* Ativa o flexbox para alinhamento flexível dos itens filhos */
    flex-wrap: wrap;       /* Permite que os itens quebrem em múltiplas linhas */
    
    row-gap: 10px;         /* Espaço de 10px entre as linhas dos itens */
    column-gap: 20px;      /* Espaço de 20px entre as colunas dos itens */
}

/* Estilização dos itens dentro do container:
   Apenas muda a cor de fundo para laranja */
.item {
    background-color: orange;
}

/* Container com id 'container-01':
   Define o alinhamento principal do flexbox como linha (horizontal) */
#container-01 {
    flex-direction: row;
}

/* Container com id 'container-02':
   Define o alinhamento principal do flexbox como coluna (vertical) */
#container-02 {
    flex-direction: column;
}
