body {
    
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 3fr 1fr;
    grid-template-areas: "navbar logo" "aside main" "aside footer";
}
.logo {
    background-color: lightcoral;
    grid-area: logo;
}

nav {
    background-color: yellow;
    grid-area: navbar;
}

aside {
    background-color: magenta;
    grid-area: aside;
}

main {
    background-color: lightskyblue;
    grid-area: main;
}

footer {
     background-color: palegreen;
     grid-area: footer;
}