body {
   
}


.container {
 grid-template: 
    "header header header header" 100px
    "main main . sidebar" 300px
    "footer footer footer footer" 100px
    / 1fr 3fr 1fr 1fr;

    border: 2px solid; 
    display: grid;   

}

.header {
    background-color: rgb(241, 241, 99);
    grid-area: header;
}

.aside {
    background-color: magenta;
    grid-area: aside;
}

.main {
    background-color: lightskyblue;
    grid-area: main; 
}

.footer {
    background-color: rgb(152, 251, 169);
    grid-area: footer;
}



