 body {
        font-family: Roboto, sans-serif;
    }

    .exemplo {
        background-color: rgb(76, 228, 81);
        width: 300px;
        height: 300px;
        border-style: dashed;
        border-width: 20px;
        border-color: blueviolet;
    }

      .exemplo-2 {
        background-color: rgb(242, 67, 67);
        width: 300px;
        height: 300px;
        border-style: dotted;
        border-width: 20px;
        border-color: chartreuse;
    }

      .exemplo-3 {
        background-color: rgb(76, 218, 228);
        width: 300px;
        height: 300px;
        border-style: double;
        border-width: 20px;
        border-color: gold red;
    }

    .exemplo-4 {
        background-color: orange;
        width: 300px;
        height: 300px;
        border-style: groove;
        border-width:20px;
        border-color: blueviolet greenyellow rgb(255, 0, 8);
    }

    .exemplo-5 {
        background-color: rgb(255, 0, 204);
        width: 300px;
        height: 300px;
        border-style: ridge;
        border-width:20px;
        border-color: chartreuse black aqua rgb(8, 0, 255);
    }

    .exemplo-6 {
        background-color: rgb(30, 0, 255);
        width: 300px;
        height: 300px;
        border-style: inset;
        border-width:10px;
    }

    .exemplo-7 {
        background-color: rgb(81, 194, 214);
        width: 300px;
        height: 300px;
        border-style: outset;
        border-width:10px;
    }

    .exemplo-8 {
        background-color: rgb(210, 223, 24);
        width: 300px;
        height: 300px;
        border-style: dotted dashed;
        border-width:10px;
    }

    .exemplo-9 {
        background-color: rgb(183, 32, 229);
        width: 300px;
        height: 300px;
        border-style: dotted dashed solid;
        border-width:10px;
    }

    .exemplo-10 {
        background-color: rgb(229, 72, 135);
        width: 300px;
        height: 300px;
        border-style: dotted dashed solid double;
        border-width:10px;
    }


