@font-face {
    font-family: roboto;
    src: local(), url(fontes/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: roboto;
    src: local(), url(fontes/Roboto/Roboto-italic.ttf);
    font-weight: bold;
}


@font-face {
    font-family: roboto;
    src: local(), url(fontes/Roboto/Roboto-italic.ttf);
    font-weight: lighter;
}


* {
    font-family: roboto;
}

#p-1 {
    font-family: roboto;
    font-weight: bold;

}

#p-2 {
    font-family: roboto;
    font-weight: lighter;
}